{% extends 'base_layout.html' %}

{% block title %}
    Nuevo Alumno
{% endblock %}

{% block content %}
    <h3>Agrega un nuevo alumno:</h3>
    <form action="{{ url_for('resultado_alumno') }}" method="POST" class="col-sm-4 col-sm-offset-4">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre">
        </div>
        <div class="form-group">
            <label for="apellidos">Apellido:</label>
            <input type="text" class="form-control" name="apellidos">
        </div>
        <div class="form-group">
            <label for="genero">Genero:</label>
            <select name="genero">
                <option value="m">Masculino</option>
                <option value="f">Femenino</option>
            </select>
        </div>
        <div class="form-group">
            <dir class="row"><label for="">Fecha de nacimiento:</label></dir>
            <div class="col-sm-4">
                <label for="dia">Dia:</label>
                <input type="number" class="form-control" name="dia">
            </div>
            <div class="col-sm-4">
                <label for="mes">Mes:</label>
                <input type="number" class="form-control" name="mes">
            </div>
            <div class="col-sm-4">
                <label for="año">Año:</label>
                <input type="number" class="form-control" name="anio">
            </div>
        </div>
        <button type="submit" class="btn btn-default">Agregar</button>
    </form>
{% endblock %}