{% extends 'base_layout.html' %}

{% block title %}
    Nuevo Curso
{% endblock %}

{% block content %}
    <h3>Agrega un nuevo curso:</h3>
    <form action="{{ url_for('resultado_grado') }}" method="POST" class="col-sm-4 col-sm-offset-4">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre">
        </div>
        <div class="form-group">
            <label for="telefono">profesor:</label>
            <select name="profesorId" class="form-control">
                {% for profesor in data %}
                    <option value="{{profesor.id}}">{{profesor.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">Agregar</button>
    </form>
{% endblock %}