{% extends 'base_layout.html' %}

{% block title %}
    Nuevo Maestro
{% endblock %}

{% block content %}
    <h3>Agrega un nuevo maestro:</h3>
    <form action="{{ url_for('resultado_maestro') }}" method="POST" class="col-sm-4 col-sm-offset-4">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" name="apellido">
        </div>
        <div class="form-group">
            <label for="genero">genero:</label>
            <input type="text" class="form-control" name="genero">
        </div>
        <button type="submit" class="btn btn-default">Agregar</button>
    </form>
{% endblock %}