{% extends 'base_layout.html' %}

{% block title %}
    Alumnos del Grado
{% endblock %}

{% block content %}
    <h3>Lista de Grados</h3>
    <table class="table" style="width: 800px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Maestro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for registro in data %}
                <tr>
                    <td>{{registro.alumnoId.nombre}}</td>
                    <td>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody> -->
    </table>
    
    

{% endblock %}
