<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Colegio</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Maestros
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                        <li><a href="/maestros">Lista de Maestros</a></li>
                    <li><a href="/agregar-maestro">Agregar Maestro</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Grados
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                        <li><a href="/grados">Lista de Grados</a></li>
                    <li><a href="/agregar-grado">Agregar Grado</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Alumnos
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/alumnos">Lista de Alumno</a></li>
                    <li><a href="/agregar-alumno">Agregar Alumno</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </nav>
    <div align="center" >{% block content %}{% endblock %}</div>
</body>
