{% extends 'base_layout.html' %}

{% block title %}
    Colegio
{% endblock %}

{% block content %}
    <div class="centrar-v">
            <h1>Bienvenido!</h1>
            <h3>Aqui usted podra realizar las operaciones basicas para la administracion del colegio.</h3>
    </div>
{% endblock %}