{% extends 'base_layout.html' %}

{% block title %}
    Alumnos
{% endblock %}

{% block content %}
    <h3>Lista de Alumnos</h3>
    <table class="table" style="width: 800px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>genero</th>
                <th>Fecha de nacimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in data %}
                <tr>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellidos}}</td>
                    <td>
                        {% if alumno.genero == 'm' %}
                            Masculino
                        {% else %}
                            Femenino
                        {% endif %}

                    </td>
                    <td>{{ alumno.fecha_nacimiento.strftime('%d/%m/%Y') }}</td>
                    <td>
                        <a class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal{{alumno.id}}"><i class="fas fa-edit"></i></a>
                        <a class="btn-sm btn-danger" data-toggle="modal" data-target="#remove{{alumno.id}}"><i class="fas fa-times"></i></a>
                        {% if dataA %}
                            
                                {% if alumno.id in dataA %}
                                    <a class="btn btn-sm btn-success" data-toggle="tooltip"><i class="fas fa-check-square"></i></a>
                                {% else %}
                                    <a class="btn-sm btn-info" data-toggle="modal" data-target="#asignar{{alumno.id}}"><i class="fas fa-plus-square"></i></a>
                                    
                                {% endif %}
                            
                        {% else %}
                            <a class="btn-sm btn-info" data-toggle="modal" data-target="#asignar{{alumno.id}}"><i class="fas fa-plus-square"></i></a>
                        {% endif %}

                        <div class="modal fade" id="remove{{alumno.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Eliminar Alumno</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Desea eliminar de forma permanente a {{alumno.nombre}} {{alumno.apellidos}}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a  class="btn btn-default" data-dismiss="modal">Cancelar</a>
                                        <a href="{{ url_for('eliminar_alumno', id_alumno=alumno.id) }}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="myModal{{alumno.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Editar a: {{alumno.nombre}} {{alumno.apellido}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('resultado_alumno') }}" method="POST" >
                                            <input type="hidden" name="alumno" value="{{alumno.id}}">
                                            <div class="form-group">
                                                <label for="nombre">Nombre:</label>
                                                <input type="text" class="form-control" name="nombre" value="{{alumno.nombre}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="apellidos">Apellido:</label>
                                                <input type="text" class="form-control" name="apellidos" value="{{alumno.apellidos}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="genero">Genero:</label>
                                                <input type="text" class="form-control" name="genero" value="{{alumno.genero}}">
                                            </div>
                                            <div class="form-group">
                                                <dir class="row"><label for="">Fecha de nacimiento:</label> {{alumno.fecha_nacimiento.strftime('%d/%m/%Y')}}</dir>
                                                <div class="col-sm-4">
                                                    <label for="dia">Dia: </label>
                                                    <input type="number" class="form-control" name="dia" value="{{alumno.fecha_nacimiento.strftime('%d')}}">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="mes">Mes:</label>
                                                    <input type="number" class="form-control" name="mes" value="{{alumno.fecha_nacimiento.strftime('%m')}}">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="año">Año:</label>
                                                    <input type="number" class="form-control" name="anio" value="{{alumno.fecha_nacimiento.strftime('%Y')}}">
                                                </div>
                                            </div>
                                            <div align="center">
                                                <button  style="margin-top: 5px" type="submit" class="btn btn-default">Agregar</button>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="asignar{{alumno.id}}" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Asignar grado</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('resultado_asignar') }}" method="POST">
                                                <div class="form-group">
                                                    <input type="hidden" name="alumno" value={{alumno.id}}>
                                                    <label for="grado">Grado:</label>
                                                    <select name="grado" class="form-control">
                                                        {% for grado in dataG %}
                                                            <option value="{{ grado.id }}">{{grado.nombre}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="seccion">Seccion:</label>
                                                    <input type="text" name="seccion" class="form-control">
                                                </div>
                                                <button  style="margin-top: 5px" type="submit" class="btn btn-default">Asignar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    

{% endblock %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>