{% extends 'base_layout.html' %}

{% block title %}
    Grados
{% endblock %}

{% block content %}

    <h3>Lista de Grados</h3>

    {% if error %}
        El maestro ya tiene un grado asignado
    {% endif %}

    <table class="table" style="width: 800px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Maestro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for grado in data %}
                <tr>
                    <td>{{grado.nombre}}</td>
                    <td> 
                        {{grado.profesorId.nombre}}
                    </td>
                    <td>
                        <a class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal{{grado.id}}"><i class="fas fa-edit"></i></a>
                        <a class="btn-sm btn-danger" data-toggle="modal" data-target="#remove{{grado.id}}"><i class="fas fa-times"></i></a>

                        <div class="modal fade" id="remove{{grado.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Eliminar Grado</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Desea eliminar de forma permanente {{grado.nombre}}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a  class="btn btn-default" data-dismiss="modal">Cancelar</a>
                                        <a href="{{ url_for('eliminar_grado', id_grado=grado.id) }}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="myModal{{grado.id}}" role="dialog">
                            <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Editar a: {{grado.nombre}} </h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('resultado_grado') }}" method="POST" >
                                                    <input type="hidden" class="form-control" name="grado" value="{{grado.id}}">
                                                    <div class="form-group">
                                                        <label for="nombre">Nombre:</label>
                                                        <input type="text" class="form-control" name="nombre" value="{{grado.nombre}}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="telefono">profesor:</label>
                                                        <select name="profesorId" class="form-control">
                                                            {% for profesor in dataP %}
                                                                {% if profesor.id == grado.profesorId.id %}
                                                                    <option value="{{profesor.id}}" selected>{{profesor.nombre}}</option>
                                                                {% else %}
                                                                    <option value="{{profesor.id}}">{{profesor.nombre}}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-default">Agregar</button>
                                            </form>
                                        </div>
                                    </div>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    

{% endblock %}
