{% extends 'base_layout.html' %}

{% block title %}
    Maestros
{% endblock %}

{% block content %}
    <h3>Lista de Maestros</h3>
    <table class="table" style="width: 800px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>genero</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for maestro in data %}
                <tr>
                    <td>{{maestro.nombre}}</td>
                    <td>{{maestro.apellido}}</td>
                    <td>{{maestro.genero}}</td>
                    <td>
                        <a class="btn-sm btn-primary" data-toggle="modal" data-target="#myModal{{maestro.id}}"><i class="fas fa-edit"></i></a>
                        <a class="btn-sm btn-danger" data-toggle="modal" data-target="#remove{{maestro.id}}"><i class="fas fa-times"></i></a>

                        <div class="modal fade" id="myModal{{maestro.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Editar a: {{maestro.nombre}} {{maestro.apellido}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('resultado_maestro') }}" method="POST" >
                                            <input type="hidden" class="form-control" name="maestro" value="{{maestro.id}}">
                                            <div class="form-group">
                                                <label for="nombre">Nombre:</label>
                                                <input type="text" class="form-control" name="nombre" value="{{maestro.nombre}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="apellido">Apellido:</label>
                                                <input type="text" class="form-control" name="apellido" value="{{maestro.apellido}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="genero">genero:</label>
                                                <input type="text" class="form-control" name="genero" value="{{maestro.genero}}">
                                            </div>
                                            <button type="submit" class="btn btn-success">Aceptar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="remove{{maestro.id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Eliminar Maestro</h4>
                                    </div>
                                    <div class="modal-body">
                                      <p>Desea eliminar de forma permanente a {{maestro.nombre}} {{maestro.apellido}}?</p>
                                      <input type="hidden" value="{{maestro.id}}" name="maestro" >
                                    </div>
                                    <div class="modal-footer">
                                      <a  class="btn btn-default" data-dismiss="modal">Cancelar</a>
                                      <a href="{{ url_for('eliminar_maestro', id_maestro=maestro.id) }}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    

{% endblock %}
